.UpperButtons{
  display: flex;
  justify-content: space-around;
  width:100%;
  margin-bottom:15px;

}
.MemberButton button{
  background:#9ADBFF;
  border:0;
  border-radius:14px;
  font-size:12px;
  color:#181818;
  width:100%;
  margin-right: 15px;
  padding:5px;
}
.ShareButton button{
  background:#9ADBFF;
  border:0;
  border-radius:14px;
  font-size:12px;
  color:#181818;
  width:100%;
  margin-right: 15px;
  padding:5px;
}
.GoOutButton button{
  background:#393939;
  border-radius:14px;
  border:0;
  color:#9ADBFF;
  font-size:12px;
  width:100%;
  margin-right: 15px;
  padding: 5px;
}