.typeQueue {
  text-align: center;
  padding: 10px;
}

.myQueue {
  color: #9ADBFF;
  padding: 0px 110px 15px 0px;
  display: inline-block;
}

.available {
  color: #9ADBFF;
  display: inline-block;
}